---

---

<div class="relative">
  <h2 class="absolute text-white right-0 left-0 text-center top-28">
    <p style="font-size: 3.5vh;font-weight: 100; ">Aviso Legal</p>
  </h2>
  <div
    class="absolute text-white z-0 max-w-[5vw] right-0 left-0 m-auto text-justify"
    style="max-width:80%;font-size: 1.7vh;font-weight: 100; margin-top:20vh; "
  >
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Con el fin de dar cumplimiento al art&iacute;culo 10 de la Ley 34/2002 de
      Servicios de la Sociedad de la Informaci&oacute;n y del Comercio
      Electr&oacute;nico, informamos a los usuarios de nuestros datos:
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt;">
      Denominaci&oacute;n Social: <span
        style="line-height:108%; font-family:'Segoe UI'; font-size:10pt;"
        >ORIOL MARQU&Egrave;S NO</span
      ><span style="line-height:108%; font-size:9pt;">&nbsp;(</span>en adelante
      el prestador)
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt;">Nom comercial: PLIK</p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Domicilio Social: Av/ Onze de Setembre, 137, 08208, Sabadell, Barcelona
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      NIF: 48269989G
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      E-Mail: info@plik.com
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Sitio Web: www.plik.com
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt;">&nbsp;</p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong><span style="color:whitesmoke;">1. OBJETO</span></strong>
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      El prestador c&oacute;mo responsable de la aplicaci&oacute;n y sitio web,
      pone a disposici&oacute;n de los usuarios el presente documento, que
      regula el uso de la App y del sitio web www.plik.com, con el que
      pretendemos dar cumplimiento a las obligaciones que dispone la Ley
      34/2002, de Servicios de la Sociedad de la Informaci&oacute;n y del
      Comercio Electr&oacute;nico (LSSICE o LSSI), as&iacute; como informar a
      todos los usuarios de la app y del sitio web respecto de cu&aacute;les son
      las condiciones de uso.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      A trav&eacute;s de la aplicaci&oacute;n <strong>PLIK,&nbsp;</strong>el
      prestador<strong>&nbsp;</strong>facilita a los usuarios el acceso y
      utilizaci&oacute;n de diferentes servicios y contenidos puestos a
      disposici&oacute;n a trav&eacute;s de la App y la web.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Toda persona que acceda a esta web asume el papel de usuario (en adelante
      el usuario), e implica la aceptaci&oacute;n total y sin reservas de todas
      y cada una de las disposiciones incluidas en este aviso legal, as&iacute;
      como a cualesquiera otras disposiciones legales que fueran de
      aplicaci&oacute;n.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Como usuarios, tienen que leer atentamente este Aviso Legal en cualquier
      de las ocasiones que entren a la web, pues &eacute;sta puede sufrir
      modificaciones ya que el prestador se reserva el derecho a modificar
      cualquier tipo de informaci&oacute;n, sin que exista la obligaci&oacute;n
      de pre-avisar, siendo suficientes la publicaci&oacute;n en el sitio web
      del prestador.
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt;">&nbsp;</p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >2. CONDICIONES DE ACCESO Y USO DE LA WEB</span
        ></strong
      >
    </h3>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >2.1. Car&aacute;cter gratuito del acceso y uso de la web</span
        ></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      La prestaci&oacute;n de los servicios por parte de <strong
        >PLIK&nbsp;</strong
      >tiene car&aacute;cter gratuito para todos los Usuarios. No obstante,
      algunos de los servicios suministrados por el prestador a trav&eacute;s de
      la misma est&aacute;n sujetas al pago de un precio determinado a las
      condiciones generales de contrataci&oacute;n.
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt;">&nbsp;</p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;">2.2. Registro de Usuario</span></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Con car&aacute;cter general la prestaci&oacute;n de los Servicios no exige
      la previa suscripci&oacute;n o registro de los Usuarios. Aun as&iacute;, <strong
        >PLIK&nbsp;</strong
      >condiciona el uso de algunos de los servicios a la previa
      complementaci&oacute;n del correspondiente registro de Usuario. Este
      registro se efectuar&aacute; en la forma expresamente indicada en la
      propia secci&oacute;n del servicio.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >2.3. Veracidad de la informaci&oacute;n</span
        ></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Toda la informaci&oacute;n que facilita el Usuario tiene que ser veraz. A
      estos efectos, el Usuario garantiza la autenticidad de los datos
      comunicados a trav&eacute;s de los formularios para la suscripci&oacute;n
      de los Servicios. Ser&aacute; responsabilidad del Usuario mantener toda la
      informaci&oacute;n facilitada a <strong>PLIK&nbsp;</strong>permanentemente
      actualizada de forma que responda, en cada momento, a su situaci&oacute;n
      real. En todo caso, el Usuario ser&aacute; el &uacute;nico responsable de
      las manifestaciones falsas o inexactas que realice y de los perjuicios que
      cause al prestador o a terceros.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;">2.4. Menores de edad</span></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Para el uso de los servicios, los menores de edad tienen que obtener
      siempre previamente el consentimiento de los padres, tutores o
      representantes legales, responsables &uacute;ltimos de todos los actos
      realizados por los menores a su cargo.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >2.5. Obligaci&oacute;n de hacer un uso correcto de la App</span
        ></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      El Usuario se compromete a utilizar la App de conformidad a la Ley y al
      presente Aviso Legal, as&iacute; como a la moral y a buenas costumbres. A
      tal efecto, el Usuario se abstendr&aacute; de utilizar la app con
      finalidades il&iacute;citas o prohibidas, lesivas de derechos e intereses
      de terceros, o que de cualquier forma puedan da&ntilde;ar, inutilizar,
      sobrecargar, deteriorar o impedir la normal utilizaci&oacute;n de equipos
      inform&aacute;ticos o documentos, archivos y toda clase de contenidos
      almacenados en cualquier equipo o dispositivo del prestador.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      En particular, y a t&iacute;tulo indicativo pero no exhaustivo, el Usuario
      se compromete a no transmitir, difundir o poner a disposici&oacute;n de
      terceros informaciones, datos, contenidos, mensajes, gr&aacute;ficos,
      dibujos, archivos de sonido o imagen, fotograf&iacute;as, grabaciones,
      software y, en general, cualquier clase de material que:
    </p>
    <p
      style="margin-top:10pt; margin-bottom:8pt; text-indent:30pt; text-align:justify;"
    >
      (a) sea contraria, desprecie o atente contra los derechos fundamentales y
      las libertades p&uacute;blicas reconocidas constitucionalmente, en
      tratados internacionales y otras normas vigentes;
    </p>
    <p
      style="margin-top:10pt; margin-bottom:8pt; text-indent:30pt; text-align:justify;"
    >
      (b) induzca, incite o promueva actuaciones delictivas, denigrantes,
      difamatorias, violentas o, en general, contrarias a la ley, a la moral y
      al orden p&uacute;blico;
    </p>
    <p
      style="margin-top:10pt; margin-bottom:8pt; text-indent:30pt; text-align:justify;"
    >
      (c) induzca, incite o promueva actuaciones, actitudes o pensamientos
      discriminatorios por raz&oacute;n de sexo, raza, religi&oacute;n,
      creencias, edad o condici&oacute;n;
    </p>
    <p
      style="margin-top:10pt; margin-bottom:8pt; text-indent:30pt; text-align:justify;"
    >
      (d) sea contrario al derecho al honor, a la intimidad personal o familiar
      o a la propia imagen de las personas;
    </p>
    <p
      style="margin-top:10pt; margin-bottom:8pt; text-indent:30pt; text-align:justify;"
    >
      (e) de cualquier manera perjudique la credibilidad del prestador o de
      terceros; y
    </p>
    <p
      style="margin-top:10pt; margin-bottom:8pt; text-indent:30pt; text-align:justify;"
    >
      (f) constituya publicidad il&iacute;cita, enga&ntilde;osa o desleal.
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt;">&nbsp;</p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >3. EXCLUSI&Oacute;N DE GARANT&Iacute;AS Y RESPONSABILIDAD</span
        ></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      El prestador se exime de cualquier tipo de responsabilidad derivada de la
      imagen o informaci&oacute;n publicada en la app, siempre que esta
      informaci&oacute;n haya sido manipulada o introducida por un tercero
      ajeno.
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt; text-align:justify;">
      Esta app ha sido revisada y probada para que funcione correctamente. En
      principio, se puede garantizar el correcto funcionamiento los 365
      d&iacute;as del a&ntilde;o, 24 horas al d&iacute;a. Sin embargo, el
      prestador no descarta la posibilidad que existan determinados errores de
      programaci&oacute;n, o que sucedan causas de fuerza mayor,
      cat&aacute;strofes naturales, huelgas, o circunstancias parecidas que
      hagan imposible el acceso a la app.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      <strong>PLIK&nbsp;</strong>no otorga ninguna garant&iacute;a ni se hace
      responsable, en ning&uacute;n caso, de los da&ntilde;os y perjuicios de
      cualquier naturaleza que puedan salir a colaci&oacute;n de la falta de
      disponibilidad, mantenimiento y efectivo funcionamiento de la web o de sus
      servicios y contenidos; de la existencia de virus, programas maliciosos o
      lesivos en los contenidos; del uso il&iacute;cito, negligente, fraudulento
      o contrario a este Aviso Legal y condiciones de uso; o de La falta de
      licitud, calidad, fiabilidad, utilidad y disponibilidad de los servicios
      prestados por terceros y ademanes a disposici&oacute;n de los usuarios en
      el sitio web.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      El prestador no se hace responsable bajo ning&uacute;n concepto de los
      da&ntilde;os que puedan dimanar del uso ilegal o indebido de la presente
      App.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong><span style="color:whitesmoke;">4. COOKIES</span></strong>
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      La App del prestador puede utilizar cookies (peque&ntilde;os archivos de
      informaci&oacute;n que el servidor env&iacute;a al m&oacute;vil de quien
      accede a la App) para llevar a cabo determinadas funciones que son
      consideradas imprescindibles para el correcto funcionamiento y
      visualizaci&oacute;n del lugar. Las cookies utilizadas tienen, en todo
      caso, car&aacute;cter temporal, con la &uacute;nica finalidad de hacer
      m&aacute;s eficaz la navegaci&oacute;n, y desaparecen al acabar la
      sesi&oacute;n del usuario.
    </p>
    <p style="margin-top:0pt; margin-bottom:8pt; text-align:justify;">
      En ning&uacute;n caso se utilizar&aacute;n las cookies para recoger
      informaci&oacute;n de car&aacute;cter personal. Para m&aacute;s
      informaci&oacute;n, ver nuestra Pol&iacute;tica de Cookies.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong><span style="color:whitesmoke;">5. ENLACES (LINKS)</span></strong>
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Desde la App es posible que se redirija a contenidos patrocinados,
      anuncios y / o enlaces de afiliados y / o de terceras aplicaciones. Entre
      los enlaces facilitados, existe la posibilidad de informar o hacer
      referencia a productos y / o servicios de terceros. Dado que desde la App
      no podemos controlar los contenidos introducidos por los terceros, PLIK,
      no asume ning&uacute;n tipo de responsabilidad respecto a dichos
      contenidos, ni garantiza la experiencia, integridad o calidad de sus
      servicios. En todo caso, el prestador manifiesta que proceder&aacute; a la
      retirada inmediata de cualquier contenido que pudiera contravenir la
      legislaci&oacute;n nacional o internacional, la moral o el orden
      p&uacute;blico, procediendo a la retirada inmediata de la
      re-direcci&oacute;n a estas Apps, poniendo en conocimiento de las
      autoridades competentes el contenido en cuesti&oacute;n.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      PLIK tendr&aacute; publicados estos enlaces hasta que sean eliminados o
      suspendidos por el prestador o por el anunciante, y no ser&aacute;
      responsable aunque estos anuncios puedan ser indexados por otros
      buscadores ajenos a App.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      &nbsp;El prestador no se responsabiliza de la informaci&oacute;n y
      contenidos almacenados, a t&iacute;tulo enunciativo pero no limitativo, en
      foros, chats, generadores de blogs, comentarios, redes sociales o
      cualquier otro medio que permita a terceros publicar contenidos de forma
      independiente a la App del prestador. No obstante y en cumplimiento de lo
      dispuesto en el art. 11 y 16 de la LSSICE, el prestador se pone a
      disposici&oacute;n de todos los usuarios, autoridades y fuerzas de
      seguridad, y colaborando de forma activa en la retirada o, cuando sea
      necesario, el bloqueo de todos aquellos contenidos que puedan afectar o
      contravenir la legislaci&oacute;n nacional, o internacional, derechos de
      terceros o la moral y el orden p&uacute;blico. En caso de que el usuario
      considere que puede existir alg&uacute;n contenido que pudiera ser
      susceptible de esta clasificaci&oacute;n, se ruega lo notifique de forma
      inmediata al administrador de la App.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Sin embargo, PLIK le informa que cualquier relaci&oacute;n contractual o
      extracontractual que el usuario formalice con estos terceros, afiliados o
      anunciantes mediante el link proporcionado por esta App, ser&aacute;
      v&aacute;lido &uacute;nicamente y exclusivamente entre el usuario y el
      anunciante y / o tercera persona y PLIK no tendr&aacute; ning&uacute;n
      tipo de responsabilidad sobre los da&ntilde;os o perjuicios que pudieran
      ser ocasionados por la prestaci&oacute;n de servicios y / o relaciones
      contractuales o extracontractuales realizadas entre el usuario y los
      anunciantes o terceros contactadas a trav&eacute;s de la App ya que el
      prestador s&oacute;lo act&uacute;a como intermediario o medio
      publicitario.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >6. PROTECCI&Oacute;N DE DATOS PERSONALES</span
        ></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      El prestador est&aacute; profundamente comprometido con el cumplimiento de
      la normativa de protecci&oacute;n de datos personales y garantiza el
      cumplimiento &iacute;ntegro de las obligaciones dispuestas, as&iacute;
      como la implementaci&oacute;n de las medidas de seguridad dispuestas al
      Reglamento Europeo de Protecci&oacute;n de datos y la normativa
      espa&ntilde;ola de protecci&oacute;n de datos. Para m&aacute;s
      informaci&oacute;n, ver nuestra Pol&iacute;tica de Privacidad.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >7. PROPIEDAD INTELECTUAL E INDUSTRIAL</span
        ></strong
      >
    </h3>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      La App, incluyendo a t&iacute;tulo enunciativo pero no limitativo la
      programaci&oacute;n, edici&oacute;n, compilaci&oacute;n y otros elementos
      necesarios para su funcionamiento, los dise&ntilde;os, logotipos, textos,
      fotograf&iacute;as y/o gr&aacute;ficos son propiedad del prestador o, en
      caso de que fuera necesario, dispone de la licencia o autorizaci&oacute;n
      expresa por parte de los autores. Todos los contenidos del sitio web se
      encuentran debidamente protegidos por la normativa de propiedad
      intelectual e industrial.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Independientemente de la finalidad por la que fueran destinados, la
      reproducci&oacute;n total o parcial, uso, distribuci&oacute;n y
      comunicaci&oacute;n p&uacute;blica requieren de la autorizaci&oacute;n
      escrita previa por parte del prestador. Cualquier uso no autorizado
      previamente por parte del prestador ser&aacute; considerado un
      incumplimiento grave de los derechos de propiedad intelectual o industrial
      del autor.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Los dise&ntilde;os, logotipos, textos y/o gr&aacute;ficos ajenos al
      prestador y que puedan aparecer en la App, pertenecen a sus respectivos
      propietarios, siendo ellos mismos los responsables de cualquier posible
      controversia que pudiera acontecer respecto a los mismos. En todo caso, el
      prestador cuenta con la autorizaci&oacute;n expresa y previa por parte de
      los mismos.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      El prestador reconoce a favor de sus titulares los correspondientes
      derechos de propiedad industrial e intelectual, no implicando la
      menci&oacute;n o aparici&oacute;n en la App, de la existencia de derechos
      o ninguna responsabilidad del prestador sobre los mismos, como tampoco
      respaldo, patrocinio o recomendaci&oacute;n por parte del mismo.
    </p>
    <p style="margin-top:10pt; margin-bottom:8pt; text-align:justify;">
      Para realizar cualquier tipo de observaci&oacute;n respecto a posibles
      incumplimientos de los derechos de propiedad intelectual o industrial,
      as&iacute; como sobre cualquiera de los contenidos de la App, puede
      hacerlo a trav&eacute;s del correo electr&oacute;nico arriba
      rese&ntilde;ado.
    </p>
    <h3
      style="margin-top:0pt; margin-bottom:8pt; line-height:108%; font-size:14pt;"
    >
      <strong
        ><span style="color:whitesmoke;"
          >8. LEY APLICABLE Y JURISDICCI&Oacute;N</span
        ></strong
      >
    </h3>
    <p
      style="margin-top:10pt; margin-bottom:8pt; text-align:justify;margin-bottom:10vh;"
    >
      Para la resoluci&oacute;n de las controversias o cuestiones relacionadas
      con la presente App o de las actividades en esta desarrolladas,
      ser&aacute; de aplicaci&oacute;n la legislaci&oacute;n espa&ntilde;ola, a
      la que se someten expresamente las partes, siendo competentes por la
      resoluci&oacute;n de todos los conflictos derivados o relacionados con su
      uso los Juzgados y Tribunales de Sabadell.
    </p>
  </div>
</div>

<style>
  h3 {
    font-size: 1.9vh;
    font-weight: 300;
    margin-top: 3vh;
  }
</style>
