---

---

<div class="relative">
  <h2 class="absolute text-white right-0 left-0 text-center top-28">
    <p style="font-size: 3.5vh;font-weight: 100; ">Politica de privacidad</p>
  </h2>
  <div
    class="absolute text-white z-0 max-w-[5vw] right-0 left-0 m-auto text-justify"
    style="max-width:80%;font-size: 1.7vh;font-weight: 100; margin-top:20vh; "
  >
    <div>
      <h3>
        <strong
          ><span style="color:whitesmoke;">INTRODUCCI&Oacute;N</span></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;">
        Su privacidad es importante para nosotros, as&iacute; que mediante este
        documento le explicamos qu&eacute; datos recopilamos de los usuarios,
        como los utilizamos y para qu&eacute;, entre otras indicaciones. Los
        mayores de 14 a&ntilde;os podr&aacute;n registrarse como usuarios sin el
        previo consentimiento de sus padres, tutores o representantes legales.
        En caso de menores de 14 a&ntilde;os o identificados como
        &quot;incapaces legalmente&quot;, siempre necesitaremos del
        consentimiento paterno, o del tutor/a o representante legal.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        Para su informaci&oacute;n, nunca solicitaremos m&aacute;s
        informaci&oacute;n de la que realmente necesitaremos para los servicios
        requeridos; nunca la compartiremos con terceros, excepto por
        obligaci&oacute;n legal o con su autorizaci&oacute;n previa; y nunca
        utilizaremos sus datos para otra finalidad no indicada previamente.
      </p>
      <p style="margin-top:5pt; text-align:justify;">
        Como usuario, deber&aacute; leer atentamente esta pol&iacute;tica de
        privacidad de manera regular, y siempre que introduzca sus datos
        personales, ya que este documento puede sufrir modificaciones pues el
        prestador puede modificar cualquier tipo de informaci&oacute;n que
        pudiera aparecer en la web para cumplir con la normativa o actualizar la
        pol&iacute;tica, y sin que exista la obligaci&oacute;n de pre-avisar o
        poner en conocimiento de los usuarios estas obligaciones, siendo
        suficientes la publicaci&oacute;n en el sitio web del prestador.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;">RESPONSABLE DEL TRATAMIENTO</span
          ></strong
        >
      </h3>
      <p>
        <strong>Identidad:&nbsp;</strong>ORIOL MARQU&Egrave;S NO (tambi&eacute;n
        el prestador)
      </p>
      <p><strong>Nombre comercial:</strong> PLIK</p>
      <p style="text-align:justify;">
        <span><strong>NIF:</strong> 48269989G</span>
      </p>
      <p style="text-align:justify;">
        <span
          ><strong>Direcci&oacute;n postal:</strong> Av/ Onze De Setembre 137, 08208,
          Sabadell, Barcelona</span
        >
      </p>
      <p style="text-align:justify;">
        <strong><span>Correo electr&oacute;nico:</span></strong><span
          >&nbsp;support@plik.com</span
        >
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        <strong>El prestador</strong>, como responsable de la App, de
        conformidad con lo que dispone el Reglamento (UE) 2016/679 de 27 de
        abril de 2016 (RGPD), Ley Org&aacute;nica 3/2018 de 5 de diciembre
        (LOPDGDD) y dem&aacute;s normativa legal vigente en materia de
        protecci&oacute;n de datos personales, y por la Ley 34/2002, de 11 de
        julio, de Servicios de la Sociedad de la Informaci&oacute;n y del
        Comercio Electr&oacute;nico (LSSICE), le informa de que tiene
        implementadas las medidas de seguridad necesarias, de &iacute;ndole
        t&eacute;cnica y organizativas, para garantizar y proteger la
        confidencialidad, integridad y disponibilidad de los datos introducidos.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        <strong
          >M&Eacute;TODO DE OBTENCI&Oacute;N DE LOS DATOS y DATOS QUE
          RECAUDAMOS:</strong
        > Los datos que recogemos y c&oacute;mo las obtenemos es la siguiente:
      </p>
      <p style="margin-top:10pt; text-indent:30pt; text-align:justify;">
        1.<span style="width:32.45pt; text-indent:0pt; display:inline-block;"
          >&nbsp;</span
        >mediante el <strong>formulario de registro</strong>: Tel&eacute;fono,
        nombre usuario y contrase&ntilde;a
      </p>
      <p style="text-indent:30pt; text-align:justify;">
        2.<span style="width:32.45pt; text-indent:0pt; display:inline-block;"
          >&nbsp;</span
        >mediante el formulario de <strong
          >recogida de datos para al ecommerce</strong
        >: nombre, direcci&oacute;n, email, edad, tel&eacute;fono, datos
        bancarios o informaci&oacute;n sobre una tarjeta de cr&eacute;dito o de
        d&eacute;bito
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        No se tratan categor&iacute;as de datos especialmente protegidos.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;">FINALIDAD DEL TRATAMIENTO</span
          ></strong
        >
      </h3>
      <p style=" text-align:justify;">
        Sus datos personales s&oacute;lo se utilizar&aacute;n para las
        siguientes finalidades, prestando su consentimiento para cada una de las
        finalidades en el apartado correspondiente de la App:
      </p>
      <p style="text-align:justify;">
        1.<span style="width:27.05pt; display:inline-block;">&nbsp;</span
        ><strong>formulario de registro</strong>: para la creaci&oacute;n de una
        cuenta de usuario y pueda acceder a las funcionalidades de la App;
      </p>
      <p style="text-align:justify;">
        2.<span style="width:27.05pt; display:inline-block;">&nbsp;</span
        ><strong>Si contrata el servicio o la compra</strong> del producto a trav&eacute;s
        de nuestra APP le pediremos que nos proporcione informaci&oacute;n sobre
        usted, incluidos su nombre, datos de contacto e informaci&oacute;n sobre
        una tarjeta de cr&eacute;dito o de d&eacute;bito.
      </p>
      <p style="text-align:justify;">
        8.<span style="width:27.05pt; display:inline-block;">&nbsp;</span>Otras
        finalidades:
      </p>
      <p style="text-indent:30pt; text-align:justify;">
        o Realizar las gestiones comerciales, administrativas, fiscales,
        contables que sean necesarias en virtud de la legislaci&oacute;n
        vigente;
      </p>
      <p style="text-indent:30pt; text-align:justify;">
        o Realizaci&oacute;n de an&aacute;lisis de perfiles y de usabilidad de
        la web, a trav&eacute;s de las cookies (mencionadas en la
        pol&iacute;tica de cookies);
      </p>
      <p style="text-align:justify; line-height:108%; font-size:10pt;">
        <strong>&nbsp;</strong>
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;"
            >DERECHOS SOBRE LAS FOTOGRAF&Iacute;AS&nbsp;</span
          ></strong
        >
      </h3>
      <p style="text-align:justify;">
        Plik es una red social para compartir tus fotograf&iacute;as con los
        grupos de amigos que tu decidas.
      </p>
      <p style="text-align:justify;">
        Te informamos que las fotograf&iacute;as que subes, compartes con tus
        grupos de amigos y publicas en la aplicaci&oacute;n son tuyas y
        est&aacute;n protegidas por los derechos de propiedad intelectual.&nbsp;
        Al subirlas a la aplicaci&oacute;n nos cedes todos tus derechos de
        explotaci&oacute;n para que podemos prestar nuestros servicios de
        almacenamiento de im&aacute;genes tomadas en los distintos actos,
        eventos y lugares en los que est&aacute;s presente y creas tus grupos
        sociales en la aplicaci&oacute;n. De esta manera, nos concedes una
        licencia mundial, de forma indefinida, no exclusiva para alojar, usar,
        distribuir, modificar, ejecutar, copiar, mostrar o exhibir
        p&uacute;blicamente y traducir el contenido, transferible,
        sublicenciable y exenta de pago de derechos de autor.
      </p>
      <p style="text-align:justify;">
        No trataremos tus datos personales para ninguna otra finalidad de las
        descritas excepto por obligaci&oacute;n legal o requerimiento judicial.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        No ser&aacute; objeto de decisiones basadas en tratamientos
        automatizados que produzcan efectos sobre sus datos.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;"
            >LEGITIMACI&Oacute;N DEL TRATAMIENTO</span
          ></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;">
        La base legal para el tratamiento de los datos es tu consentimiento
        otorgado en el momento de crea tu perfil en PLIK y&nbsp; aceptar la
        presente pol&iacute;tica de privacidad y las condiciones de uso.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        El no aceptar la presente pol&iacute;tica de privacidad ni las
        condiciones de uso, supone la imposibilidad de conseguir las finalidades
        anteriormente descritas.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;"
            >PLAZO DE CONSERVACI&Oacute;N DE LOS DATOS:</span
          ></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;">
        Sus datos se conservar&aacute;n mientras dure la relaci&oacute;n
        comercial con nosotros o ejerzas tus derechos de cancelaci&oacute;n,
        oposici&oacute;n o revocaci&oacute;n del consentimiento. Aun que hayas
        ejercido tus derechos de forma correcta, deberemos conservar debidamente
        bloqueados tus datos mientras duren los plazos legalmente previstos en
        las disposiciones aplicables.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        En cuanto a las im&aacute;genes de tu perfil, cuando des de baja tu
        perfil tus im&aacute;genes tambi&eacute;n se eliminar&aacute;n, no
        obstante, las que hayas compartido con amigos permanecer&aacute;n. Si
        solicitas que las demos de baja de la Galer&iacute;a &eacute;stas se
        eliminar&aacute;n de nuestro servidor, de manera que ya no se
        podr&aacute;n recuperar.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;"
            >DESTINATARIOS DE CESIONES O TRANSFERENCIAS:</span
          ></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;">
        PLIK no lleva a cabo ninguna cesi&oacute;n o comunicaci&oacute;n de
        datos ni dentro ni fuera de la UE. El prestador &uacute;nicamente
        facilitar&aacute; informaci&oacute;n a las fuerzas y cuerpos de
        seguridad bajo orden judicial o por obligaci&oacute;n de una norma
        legal, sin perjuicio de poder bloquear o cancelar su cuenta si puede
        haber indicios de la comisi&oacute;n de alg&uacute;n delito por parte
        del usuario. La informaci&oacute;n facilitada ser&aacute; s&oacute;lo la
        que disponga en ese momento el prestador.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        Toda la informaci&oacute;n que nos proporciones tanto a trav&eacute;s de
        la App como en este sitio web ser&aacute; alojada en los servidores
        propios de PLIK en Espa&ntilde;a, contratados a la empresa que presta el
        servicio de alojamiento de la web. El tratamiento de los datos de la
        entidad se encuentra regulado mediante un contrato de encargado del
        tratamiento entre el prestador y esta empresa.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;"
            >DERECHOS DE LAS PERSONAS INTERESADAS:</span
          ></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;">
        Como usuario-interesado, puede solicitar el ejercicio de los siguientes
        derechos ante el prestador enviando un correo electr&oacute;nico a
        support@Plik.com, indicando como Asunto: &quot;PROTECCI&Oacute;N DE
        DATOS: DERECHOS DE LOS INTERESADOS &quot;, y adjuntando fotocopia de su
        DNI o cualquier medio an&aacute;logo en derecho, tal como indica la ley.
      </p>
      <p style="margin-top:10pt;">Derechos:</p>
      <p style="margin-top:10pt; text-align:justify;">
        &bull;<span style="width:29.92pt; display:inline-block;">&nbsp;</span
        ><strong>Derecho de acceso</strong>: permite al interesado conocer y
        obtener informaci&oacute;n sobre sus datos de car&aacute;cter personal
        sometidos a tratamiento.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        &bull;<span style="width:29.92pt; display:inline-block;">&nbsp;</span
        ><strong>Derecho de rectificaci&oacute;n o supresi&oacute;n</strong>:
        permite corregir errores y modificar los datos que resulten ser
        inexactos o incompletos
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        &bull;<span style="width:29.92pt; display:inline-block;">&nbsp;</span
        ><strong>Derecho de cancelaci&oacute;n</strong>: permite que se supriman
        los datos que sean inadecuados o excesivos
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        &bull;<span style="width:29.92pt; display:inline-block;">&nbsp;</span
        ><strong>Derecho de oposici&oacute;n</strong>: derecho del interesado a
        que no se lleve a cabo el tratamiento de sus datos de car&aacute;cter
        personal o se cese en el mismo.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        &bull;<span style="width:29.92pt; display:inline-block;">&nbsp;</span
        ><strong>Limitaci&oacute;n del tratamiento</strong>: conlleva el marcado
        de los datos personales conservados, con el fin de limitar su futuro
        tratamiento, para el ejercicio o la defensa de reclamaciones.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        &bull;<span style="width:29.92pt; display:inline-block;">&nbsp;</span
        ><strong>Portabilidad de los datos</strong>: facilitaci&oacute;n de los
        datos objeto de tratamiento al interesado, para que &eacute;ste pueda
        transmitir a otro responsable, sin impedimentos.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        &bull;<span style="width:29.92pt; display:inline-block;">&nbsp;</span
        ><strong
          >Derecho a no ser objeto de decisiones individuales automatizadas
          (incluida la elaboraci&oacute;n de perfiles):</strong
        > derecho a no ser objeto de una decisi&oacute;n basada en el tratamiento
        automatizado que produzca efectos o afecte significativamente
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        Como usuario, tiene derecho a retirar el consentimiento dado en
        cualquier momento. La retirada del consentimiento no afectar&aacute; a
        la licitud del tratamiento efectuado antes de la retirada del
        consentimiento.
      </p>
      <p style="margin-top:10pt; text-align:justify;">
        Tambi&eacute;n tiene derecho a presentar una reclamaci&oacute;n ante la
        autoridad de control si considera que pueden haberse visto vulnerados
        sus derechos en relaci&oacute;n a la protecci&oacute;n de sus datos
        (www.aepd.es).
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;">MEDIDAS DE SEGURIDAD:</span></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;">
        Los datos que nos facilite se tratar&aacute;n de forma confidencial. El
        prestador ha adoptado todas las medidas t&eacute;cnicas y organizativas
        y todos los niveles de protecci&oacute;n necesarios para garantizar la
        seguridad en el tratamiento de los datos y evitar su alteraci&oacute;n,
        p&eacute;rdida, robo, tratamiento o acceso no autorizado, de acuerdo al
        estado de la tecnolog&iacute;a y naturaleza de los datos almacenados.
        Asimismo, se garantiza tambi&eacute;n que el tratamiento y registro en
        ficheros, programas, sistemas o equipos, locales y centros cumplen con
        los requisitos y condiciones de integridad y seguridad establecidas en
        la normativa vigente.
      </p>
      <h3><strong><span style="color:whitesmoke;">IDIOMA</span></strong></h3>
      <p style="margin-top:10pt; text-align:justify;">
        El idioma aplicable a esta pol&iacute;tica de privacidad es el
        castellano. Por tanto, en caso de que hubiera alguna
        contradicci&oacute;n en alguna de las versiones facilitadas en otros
        idiomas, prevalecer&aacute; la versi&oacute;n en castellano.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;"
            >CAMBIOS EN LA PRESENTE POL&Iacute;TICA DE PRIVACIDAD</span
          ></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;">
        PLIK se reserva el derecho a modificar la presente pol&iacute;tica para
        adaptarla a novedades legislativas o jurisprudenciales.
      </p>
      <h3>
        <strong
          ><span style="color:whitesmoke;">LEGISLACI&Oacute;N</span></strong
        >
      </h3>
      <p style="margin-top:10pt; text-align:justify;margin-bottom:10vh;">
        Con car&aacute;cter general las relaciones entre PLIK con los Usuarios
        de sus servicios telem&aacute;ticos, presentes en esta App, est&aacute;n
        sometidos a la legislaci&oacute;n y jurisdicci&oacute;n espa&ntilde;ola
        a la que se someten expresamente las partes, siendo competentes para la
        resoluci&oacute;n de todos los conflictos derivados o relacionados con
        su uso los Juzgados y Tribunales de Sabadell.
      </p>
    </div>
  </div>
  <style>
    h3 {
      font-size: 1.9vh;
      font-weight: 300;
      margin-top: 3vh;
    }
  </style>
</div>
