---

---

<div
  class="relative h-dvh w-full max-w-[100vw] xl:h-full grid lg:grid-cols-2 place-items-center container overflow-hidden"
>
  <h2
    class="text-dark-white z-10 text-center text-[2.1rem] w-[60%] leading-[1.4] font-light"
  >
    Enjoy your travels and unique moments and forget about sharing photos, we
    take care of that!
  </h2>

  <img class="z-10 w-[60vh] self-end" src="/mokap1.png" />
</div>
