---

---

<div class="relative h-dvh w-full flex flex-col">
  <div class="flex-grow lg:w-[35%] flex flex-col justify-center mx-auto">
    <h2 class="text-white z-10 text-center" style="font-size: 4vh;">
      Download now and start sharing your galleries with your friends and
      family.
    </h2>
    <div
      class="flex flex-col md:flex-row justify-center items-center mt-[-5rem]"
    >
      <img
        src="./google-store.svg"
        alt="Google Store Logo"
        class="text-white z-10 w-[13rem] md:mx-14 text-center"
      />
      <img
        src="./apple-store.svg"
        alt="Apple Store Logo"
        class="text-white z-10 w-[13rem] md:mx-14 text-center"
      />
    </div>
  </div>
  <div
    class="bg-black z-20 m-auto w-full h-[5%] text-center"
    style="font-size: 1.5vh;"
  >
    <span class="p-16 underline"><a href="/privacity">Privacy Policy</a></span>|
    <span class="p-16 underline"><a href="/legal">Legal advice</a></span>|
    <span class="p-16 underline"><a href="/contactUs">Contact Us</a></span>|
    <span class="p-16 underline">About Us</span>|
    <span class="p-16 underline">Help</span>
  </div>
  <style>
    h2 {
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.85);
      margin-bottom: 1em;
      font-weight: 100;
    }
    span {
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.85);
      margin-bottom: 1em;
      font-weight: 200;
    }
  </style>
</div>
