---

---

<div class="relative h-dvh w-full max-w-[100vw] md:h-[80vh] xl:h-full">
  <h2
    class="absolute text-white top-[35%] z-10 w-[35%] m-auto left-0 right-0 text-center"
    style="font-size: 4vh;"
  >
    Download now and start sharing your galleries with your friends and family.
  </h2>
  <img
    src="./apple-store.svg"
    alt="Apple Store Logo"
    class="absolute text-white top-[42.5%] z-10 w-[11%] m-auto left-[17%] right-0 text-center"
  />
  <img
    src="./google-store.svg"
    alt="Google Store Logo"
    class="absolute text-white top-[42.5%] z-10 w-[11%] m-auto left-0 right-[17%] text-center"
  />
  <div
    class="absolute bg-black bottom-0 z-20 m-auto w-full h-[5%] text-center"
    style="font-size: 1.5vh;"
  >
    <span class="p-16 underline"><a href="/privacity">Privacy Policy</a></span>|
    <span class="p-16 underline"><a href="/legal">Legal advice</a></span>|
    <span class="p-16 underline">Contact Us</span>|
    <span class="p-16 underline">About Us</span>|
    <span class="p-16 underline">Help</span>
  </div>
  <style>
    h2 {
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.85);
      margin-bottom: 1em;
      font-weight: 100;
    }
    span {
      margin-top:;
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.85);
      margin-bottom: 1em;
      font-weight: 200;
    }
  </style>
</div>
<script></script>
