---

---

<div
  class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full flex"
>
  <h2
    class="absolute top-[10%] z-10 w-[40%] m-auto left-0 right-0 text-center"
    id="text"
    style="font-size: 3.5vh;"
  >
    Share your increible moments with your friends or the world, you decide.
  </h2>
  <img
    class="absolute top-[30%] z-10 w-[35vh] m-auto left-0 right-0 text-4xl text-center hover:w-[37vh] hover:top-[27%] duration-1000"
    src="./mainScreen-portrait.png"
    id="img"
  />
  <img
    class="absolute top-[40%] z-10 w-[30vh] m-auto left-[34%] right-0 text-4xl text-center hover:w-[32vh] hover:top-[36%] duration-1000"
    src="./mainScreen-portrait.png"
    id="img"
  />
  <img
    class="absolute top-[40%] z-10 w-[30vh] m-auto right-[34%] left-0 text-4xl text-center hover:w-[32vh] hover:top-[36%] duration-1000"
    src="./mainScreen-portrait.png"
    id="img"
  />
  <img
    class="absolute top-[50%] z-10 w-[25vh] m-auto left-0 right-[64%] text-4xl text-center hover:w-[26vh] hover:top-[48%] duration-1000"
    src="./mainScreen-portrait.png"
    id="img"
  />
  <img
    class="absolute top-[50%] z-10 w-[25vh] m-auto right-0 left-[64%] text-4xl text-center hover:w-[26vh] hover:top-[48%] duration-1000"
    src="./mainScreen-portrait.png"
    id="img"
  />
</div>

<style>
  /* img:is(:hover, :focus-within) {
    width: 3px;
  }*/
  h2 {
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 1em;
    font-weight: 100;
  }
  img:hover h2 {
    display: none;
  }
</style>
<script>
  const buttons = [...document.querySelectorAll("#img")];
  const text = document.querySelector("#text");
  const texts = [
    "Share your increible moments with your friends or the world, you decide.",
    "Create public or private groups and share your moments with your friends.",
    "Share your increible moments in your profile and let the world know you.",
    "Get new friends and followers with your increible moments.",
    "Get a physical album with your increible moments.",
  ];
  for (let i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener("mouseover", () => {
      if (text) text.innerHTML = texts[i];
    });
    buttons[i].addEventListener("mouseout", () => {
      if (text) text.innerHTML = texts[0];
    });
  }
</script>
