---

---

<div class="relative h-dvh w-full flex flex-col items-center justify-between">
  <h2
    class="z-10 w-[60%] lg:w-[40%] left-0 right-0 text-center leading-[1.4] text-dark-white mb-[1rem] font-light mt-10"
    id="text"
    style="font-size: 3.5vh;"
  >
    Share your increible moments in your profile and let the world know you.
  </h2>
  <div class="hidden justify-center mx-auto bottom-0 mb-0 items-end xl:flex">
    <img
      class="text-changer z-10 w-[13vw] mx-2 text-4xl text-center hover:scale-105 duration-1000"
      src="./mainScreen-portrait.png"
    />
    <img
      class="text-changer z-10 w-[16vw] mx-2 text-4xl text-center hover:scale-105 duration-1000"
      src="./mainScreen-portrait.png"
    />
    <img
      class="text-changer z-10 w-[18vw] mx-2 text-4xl text-center hover:scale-105 duration-1000 hover"
      src="./mainScreen-portrait.png"
      id="hovered"
    />
    <img
      class="text-changer z-10 w-[16vw] mx-2 text-4xl text-center hover:scale-105 duration-1000"
      src="./mainScreen-portrait.png"
    />
    <img
      class="text-changer z-10 w-[13vw] mx-2 text-4xl text-center hover:scale-105 duration-1000"
      src="./mainScreen-portrait.png"
    />
  </div>
</div>
<script type="module">
  const hovered = document.querySelector("#hovered");
  const buttons = [...document.querySelectorAll(".text-changer")];
  const text = document.querySelector("#text");
  const texts = [
    "Share your increible moments with your friends or the world, you decide.",
    "Create public or private groups and share your moments with your friends.",
    "Share your increible moments in your profile and let the world know you.",
    "Get new friends and followers with your increible moments.",
    "Get a physical album with your increible moments.",
  ];
  for (let i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener("mouseover", () => {
      hovered.classList.remove("hover");
      if (text) text.innerHTML = texts[i];
    });
    buttons[i].addEventListener("mouseout", () => {
      if (text) text.innerHTML = texts[0];
    });
  }
</script>
<style>
  img.hover {
    transform: scale(1.05);
  }
</style>
