---

---

<div
  class="relative h-dvh w-full max-w-[100vw] md:aspect-video xl:h-full container"
>
  <h1
    class="text-white font-bold pt-[28vh] m-auto w-[250px] text-center text-[9rem] mb-0 leading-[1.1]"
  >
    Plik
  </h1>
  <h2
    class="text-white z-10 text-ellipsis m-auto text-center pr-2 pl-2 text-[2.1rem] mt-0 leading-[1.4] text-dark-white font-light"
  >
    Enjoy your travels and unique moments <br />
    and forget about sharing photos, we take <br /> care of that!
  </h2>
</div>
